.section-lids .item {
    width: 94%;
}

.section-lids .item-inner {
    overflow-y: hidden;
}

.section-lids .comments-column {
    overflow-y: scroll;
    max-height: 290px;
}

.lids .form-control {
    min-width: 95px;
}

.lids input,
.lids select {
    margin: 5px 0;
}

.lids .lid_submit {
    width: 100%;
    height: 100%;
}

.lids .lid_date {
    /*width: 40%;*/
    display: inline-block;
}

.lids .lid_status {
    /*width: 40%;*/
    /*margin-left: 5%;*/
    display: inline-block;
}

.lids .add_lid_comment {
    /*width: 10%;*/
    margin-left: 5%;
    position: relative;
    top: 13px;
    display:inline-block;
    width: 40px;
    height: 40px;
}

.lids .lid_statuses_table {
    display: none;
}

.lids td .checkbox-label {
    margin-left: 25%;
}

@media(min-width: 1024px) {

}

@media(max-width: 900px) {

}

@media(max-width: 420px) {

    .lids .lid_date,
    .lids .lid_status {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-top: 6px;
    }

    .lids .add_lid_comment {
        width: 20%;
        margin-top: 6px;
    }

}