.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 999;
}

.popup {
    position: fixed;
    font-size: 14px;
    background-color: #FCFBFB;
    width: 40%;
    left: 30%;
    z-index: 1000;
    top: 10%;
    display: none;
    border-radius: 12px;
}

.popup_close {
    float: right;
    margin: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/close.png);
    background-size: cover;
    display: block;
}

.popup hr {
     margin-top: 0px;
     margin-bottom: 0px;
}

.popup form {
    margin-top: 40px;
}

.popup .column {
    width: 50%;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    text-align: center;
}

.popup .column span {
    font-size: 17px;
}

.popup .column input {
    height: 28px;
}

.popup .column textarea {
    width: 100%;
    border-radius: 5px;
    padding: 6px 12px;
}

.popup .btn-default {
    position: relative;
    left: 30%;
    width: 40%;
    margin: 15px;
}



@media(max-width: 1024px) {

    .popup {
        width: 40%;
        left: 30%;
    }
}


@media(max-width: 768px) {

    .popup {
        width: 70%;
        left: 15%;
    }

}


@media(max-width: 420px) {

    .popup {
        width: 90%;
        left: 5%;
        max-height: 80%;
        overflow-y: scroll;
    }

    .popup h2 {
        font-size: 15px;
    }

    .popup .column {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 10px;
    }

    .popup .column span {
        font-size: 13px;
    }

}