.task tr td {
    vertical-align: middle !important;
}

.task tr span {
    position: relative;
    bottom: 10px;
    margin-right: 10px;
}

.tasks .tasks-comments {
    overflow-y: auto;
    overflow-x: visible;
    max-height: 250px;
}

/*.tasks .tasks-comments::-webkit-scrollbar { width: 0; }*/
/*.tasks .tasks-comments { -ms-overflow-style: none; }*/

.tasks .user-icon {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("../images/user.png");
    background-size: cover;
}

@media(min-width: 1024px) {

}

@media(max-width: 900px) {

}

@media(max-width: 420px) {

    .tasks-comments-td {
        white-space: normal !important;
        max-width: 300px;
        min-width: 250px;
    }

    .tasks .tasks-comments p {
        max-width: 300px;
    }

}