.task tr td {
    vertical-align: middle !important;
}

.task tr span {
    position: relative;
    bottom: 10px;
    margin-right: 10px;
}

/*.tasks .tasks-comments::-webkit-scrollbar { width: 0; }*/
/*.tasks .tasks-comments { -ms-overflow-style: none; }*/

.tasks .cards-section .item-inner {
    height: auto;
    max-height: 340px;
}

.tasks .item {
    width: 100%;
}

.tasks .item .form-control {
    width: 200px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.tasks .item .form-control-auto {
    width: auto;
    line-height: 1.8;
}

.tasks .item .action {
    margin: 0 10px;
    vertical-align: bottom;
}

.tasks .item .item-inner .row {
    margin-bottom: 8px;
    text-align: center;
}

.tasks .tasks-comments {
    overflow-y: auto;
    overflow-x: visible;
    max-height: 250px;
}

.tasks .item .item-inner .row .user-icon {
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url(../images/user.png);
    background-size: cover;
}

.tasks .item .item-inner .row select,
.tasks .item .item-inner .row input,
.tasks .item .item-inner .row span,
.tasks .item .item-inner .row a {
    vertical-align: -webkit-baseline-middle;
}


input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
input[type=radio] + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
input[type=radio] + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 4px solid;
    border-radius: 50%;
    background: #FFF;
}
input[type=radio] + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #746D6D;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
input[type=radio]:focus + label:before {
    box-shadow: 0 0 0 2px rgba(255,255,0,.7);
}




@media(min-width: 1024px) {

}

@media(max-width: 900px) {

}

@media(max-width: 420px) {

    .tasks-comments-td {
        white-space: normal !important;
        max-width: 300px;
        min-width: 250px;
    }

    .tasks .tasks-comments p {
        max-width: 300px;
    }

}