.container .pagination {
    float: right;
    position: relative;
    bottom: 25px;
}

.container .pagination .total_count {
    display: block;
    position: relative;
    left: 25px;
}

.container .pagination .pages {
    padding: 0px 10px 0px 10px;
    position: relative;
    bottom: 7px;
}

.container .pagination .prev_page {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(../images/left_arrow2.png);
    background-size: cover;
}

.container .pagination .next_page {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(../images/right_arrow2.png);
    background-size: cover;
}