.container .middle .in_main .pagination {
    float: right;
    position: relative;
    bottom: 25px;
}

.container .middle .in_main .pagination .total_count {
    display: block;
    position: relative;
    left: 25px;
}

.container .middle .in_main .pagination .pages {
    padding: 0px 10px 0px 10px;
    position: relative;
    bottom: 7px;
}

.container .middle .in_main .pagination .prev_page {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(/templates/template3/images/left_arrow2.png);
    background-size: cover;
}

.container .middle .in_main .pagination .next_page {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(/templates/template3/images/right_arrow2.png);
    background-size: cover;
}