.page {
	width: 100% !important
}

.schedule {
	font-size: 14px;
}

.schedule .add_lesson {
	cursor: pointer;
}

.schedule hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

.schedule table .schedule_class:hover {
	cursor: pointer;
}

.schedule .date {
	font-size: 11px;
	color: #D1D1D1;
}

.schedule .table-responsive {
	overflow-x: scroll;
}

/**
 * Таблица >>
 */
.manager_table table {
	margin-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.manager_table .head {
	font-size: 15px;
	background: #ccc;
}

.manager_table th, .manager_table td:first-child {
	background: #ccc;
	color: black;
	padding: 2px 4px;
	font-weight: 400;
}

.manager_table th, .manager_table td {
	border: 1px solid black;
	padding: 4px;
}

.manager_table td {
	background: #D8E6F3;
}

.manager_table th:first-child, .manager_table td:first-child {
	text-align: left;
}

.manager_table .empty {
	background-color: inherit !important;
}
/**
 * << Таблица
 */



/**
 * Выпадающее меню >
 */
ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.dropdown {
	position: absolute;
	display: none;
	z-index: 100;
}

.submenu {
	position:relative;
	display:inline-block;
}

.submenu li {
	list-style-type: none;
}

.submenu > li > a {
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(../../template3/images/edit2.png) no-repeat;
	background-size: 12px 12px;
	background-color: white;
	border-radius: 24px;
	background-position-x: 3px;
	background-position-y: 3px;
	margin-left: 5px;
}

.submenu li:hover > ul {
	display: block;
	width: 176px;
	right: -36px;
}

.submenu .dropdown li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #666;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
	border-bottom: none;
}

.submenu .dropdown li a:hover {
	color: #ffe;
	background-color: #5488af;
}
/**
 * << Выпадающее меню
 */


@media(min-width: 1024px) {

}


@media(max-width: 900px) {

}


@media(max-width: 420px) {

	.page {
		width: 100% !important;
	}

	.schedule_calendar {
		display: block;
		width: 100%
	}

	.day_name {
		display: block;
	}


	.manager_table {
		font-size: 8px !important;
	}

	.manager_table th {
		padding: 3px !important;
	}


	.submenu li:hover > ul {
		width: 128px;
		right: -42px;
	}

	.submenu > li > a {
		height: 11px;
		width: 11px;
		background-size: 7px 7px;
		background-position-x: 2px;
		background-position-y: 2px;
	}

}