.users h2 {
	display: inline-block;
}

.users .table .notes {
	max-width: 225px;
}

.users .table tr td {
	vertical-align: middle;
}

.users .contract {
	background: url("../../template10/assets/images/contract.png");
	background-size: cover;
	display: inline-block;
	width:20px;
	height: 20px;
	margin-left: 5px;
	cursor: help;
}


.user-events .cards-section {
	margin-bottom: 10px;
}

.user-events .events .tasks-comments {
	margin-bottom: 30px;
}

/*.user-events .event_task .tasks-comments {*/
	/*padding-left: 30px;*/
	/*margin-top: -15px;*/
/*}*/


h3 {
	cursor: pointer;
}


#client-filter {
	margin-bottom: 10px;
	display: none;
}

#client-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#client-filter ul li span {
	vertical-align: super;
}

/*.users .client-info .table {*/
	/*font-size: 16px;*/
/*}*/