.users h2 {
	display: inline-block;
}

.users .table .notes {
	max-width: 225px;
}

.users .table tr td {
	vertical-align: middle;
}

.users .contract {
	background: url("../../template10/assets/images/contract.png");
	background-size: cover;
	display: inline-block;
	width:20px;
	height: 20px;
	margin-left: 5px;
	cursor: help;
}


.user-events .cards-section {
	margin-bottom: 10px;
}

.user-events .events .tasks-comments {
	margin-bottom: 30px;
}

/*.user-events .event_task .tasks-comments {*/
	/*padding-left: 30px;*/
	/*margin-top: -15px;*/
/*}*/


#client-filter {
	margin-bottom: 10px;
	display: none;
}

#show-client-filter {
	cursor: pointer;
}

#show-client-filter span {
	font-size: 19px;
}

#show-client-filter i {
	font-size: 12px;
}

#client-filter .client-filter__options {
	max-height: 285px;
	overflow-y: scroll;
}

#client-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#client-filter ul li {
	margin-bottom: 3px;
}

#client-filter ul li input {
	margin: 0;
}

#client-filter ul li label {
	/*vertical-align: middle;*/
	margin: 0;
	font-weight: normal;
	margin-left: 5px;
	cursor: pointer;
}

/*.users .client-info .table {*/
	/*font-size: 16px;*/
/*}*/