.lids {
    font-size: 17px;
    //background-color: white;
}

.lids .td:first-child {
    border-left: 1px solid #d1d5da;
    border-right: 1px solid #d1d5da;
}

.lids td {
    vertical-align: middle;
    border-right: 1px solid #d1d5da;
}

.lids th {
    vertical-align: middle;
    border-right: 1px solid #d1d5da;
    background-color: #F2F2F2;
}

.lids .lid_submit {
    width: 100%;
}

.lids .not_choose {
    background-color: #FFFFF0;
}

.lids .consult_wait {
    background-color: #F4FF77;
}

.lids .consult_was {
    background-color: #FF8C00;
}

.lids .agree {
    background-color: #5cb85c;
}