body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	overflow-x: hidden;
}

.container .navbar .container-fluid .navbar-right {
	float: left;
}

#sortingTable {
	font: 15px/22px Arial, Sans-serif !important;
}

.anketa {
	font-size: 13px;
	position: relative;
	bottom: 5px;
}

.notes {
	max-width: 275px;
	font-size: 15px;
}