body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	overflow-x: hidden;
	background: url(../images/bg.png) repeat;
}

/*.bodyLoader {*/
	/*background: grey;*/
/*}*/

.loader {
	background: grey;
	opacity: 0.8;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background-image: url("../images/loader.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px;
}

.container {
	//width: 1300px !important;
	width: 90%;
	padding: 0px;
}

nav {
    font-size: 15px;
}

#sortingTable {
	font: 15px/22px Arial, Sans-serif !important;
}

.error {
	color: red;
}


.action {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0px 2px 0px 2px;
}

.save {
	background-image: url(../images/save.png);
	background-size: cover;
}

.add_payment {
	background: url(../images/money.png);
	background-size: cover;
}

.append_done {
	background-image: url("../images/append_ok.png");
	background-size: cover;
}

.ok {
	background-image: url("../images/ok.png");
	background-size: cover;
}

.edit {
	background: url(../images/edit.png);
	background-size: cover;
}

.archive {
	background: url(../images/archive.png);
	background-size: cover;
}

.unarchive {
	background: url(../images/archiveminus.png);
	background-size: cover;
}

.delete {
	background: url(../images/delete.png);
	background-size: cover;
}

/**
 * Подсветка пользователей >>
 */
.positive {
	background-color:palegreen !important;
}
.negative {
	background-color:indianred !important;
}
.neutral {
	background-color:lightyellow !important;
}

.group {
	background: lightblue !important;
}
/**
 * << Подсветка пользователей
 */

.vk .client:after {
	content: "";
	display: inline-block;
	height: 17px;
	width: 16px;
	background: url(../images/vk.png) no-repeat;
	background-position-x: -6px;
	background-size: 30px;
}

.tablesorter-default td {
	vertical-align: middle;
	background-color: #F2F2F2;
	border-right: 1px solid #d1d5da;
}

.tablesorter-default td:first-child {
	border-left: 1px solid #d1d5da;
	border-right: 1px solid #d1d5da;
}

/**
 * Верстка комментариев>>
 */
.block {
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #d1d5da;
	border-radius: 3px;
}

.block .comment_header {
	background-color: #f6f8fa;
	border-bottom: 1px solid #d1d5da;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #586069;
}

.block .comment_header .author {
	font-size: 14px;
	font-weight: 600;
	display: inline;
}

.block .comment_header .date {
	font-size: 14px;
	display: inline;
	padding-left: 15px;
}

.block .comment_body {
	background-color: white;
	border-bottom: 1px solid #d1d5da;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/**
 * <<Верстка комментариев
 */


.finances_add_payment {
	float: right;
}

