
.task .block {
    position: relative;
    top: -15px !important;
    bottom: -15px !important;
    //margin-top: 0px !important;
    //margin-bottom: 0px !important;
}

.task td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}