.anketa {
    font-size: 13px;
    position: relative;
    bottom: 5px;
}

.notes {
    max-width: 275px;
    font-size: 15px;
}

.user_action {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0px 2px 0px 2px;
}

.user_add_payment {
    background: url(../images/money.png);
    background-size: cover;
}

.user_edit {
    background: url(../images/edit.png);
    background-size: cover;
}

.user_archive {
    background: url(../images/archive.png);
    background-size: cover;
}

.user_unarchive {
    background: url(../images/archiveminus.png);
    background-size: cover;
}

.user_delete {
    background: url(../images/delete.png);
    background-size: cover;
}