.page {
	width: 100% !important
}

.schedule {
	font-size: 14px;
}

.schedule .add_lesson {
	cursor: pointer;
}

.schedule hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

.schedule table .schedule_class:hover {
	cursor: pointer;
}

.schedule .date {
	font-size: 11px;
	color: #D1D1D1;
}

.schedule .table-responsive {
	overflow-x: visible;
}

/**
 * Таблица >>
 */
.manager_table table {
	margin-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.manager_table .head {
	font-size: 15px;
	background: #ccc;
}

.manager_table th, .manager_table td:first-child {
	background: #ccc;
	color: black;
	padding: 2px 4px;
	font-weight: 400;
}

.manager_table th, .manager_table td {
	border: 1px solid black;
	padding: 4px;
}

.manager_table td {
	background: #D8E6F3;
}

.manager_table th:first-child, .manager_table td:first-child {
	text-align: left;
}

.manager_table .empty {
	background-color: inherit !important;
}
/**
 * << Таблица
 */



@media(min-width: 1024px) {

}


@media(max-width: 900px) {

}


@media(max-width: 420px) {

	.page {
		width: 100% !important;
	}

	.schedule_calendar {
		display: block;
		width: 100%
	}

	.day_name {
		display: block;
	}


	.manager_table {
		font-size: 8px !important;
	}

	.manager_table th {
		padding: 3px !important;
	}


	.submenu li:hover > ul {
		width: 128px;
		right: -42px;
	}

	.submenu > li > a {
		height: 11px;
		width: 11px;
		background-size: 7px 7px;
		background-position-x: 2px;
		background-position-y: 2px;
	}

}